<div class="container">
  <h1>Randomize Tests</h1>

  {{#each examples}}
    <section>
      <h3>{{title}}</h3>
      <form class="form-horizontal" id="{{id}}">
        <input class="input-xlarge" id="{{id}}Input" value="{{count}}">
        <button type="submit" class="btn">Run</button>
      </form>
      <a href="#" class="clear pull-right", data-id="{{id}}">clear</a>
      <pre id="{{id}}Results" class="test-results">No results</pre>
    </section>
  {{/each}}
</div>