extends ../layout

block content
  .page-header
    h1 Randomize Tests</h1>

  each block in examples
    section
      h3= block.title
       form(class="form-horizontal", id="#{block.id}")
         input(class="input-xlarge", id="#{block.id}Input", value="#{block.count}")
         button(type="submit", class="btn") Run
       a(href="#", class="clear pull-right", data-id="#{block.id}") clear
       pre(id="#{block.id}Results", class="test-results") No results
